html {
    font-size: 16px; /* 1rem = 20px */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    color: teal;
}

a:hover {
    text-decoration: underline;
}

pre {
    code {
        display: block;
        padding: 1rem;
        background-color: #f4f4f4;
        border-radius: 0.5rem;
        overflow-x: auto;
        font-size: 1rem;
        font-family: 'Fira Code', monospace;
    }
}


p {
    line-height: 1.75rem;
}

#app {
    padding: 1rem 0;
}

.container {
    max-width: 696px;
    margin: 0 auto;
    padding: 0 1rem;
}

.main-menu {
    display: flex;
    gap: 1rem;
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.block {
    display: block;
}
.text-sm {
    font-size: 0.875rem;
}


/* Highlight */
.hl-keyword {
    color: #4F95D1;
}

.hl-property {
    color: #46b98d;
}

.hl-attribute {
    font-style: italic;
}

.hl-type {
    color: #D14F57;
}

.hl-generic {
    color: #9D3AF6;
}

.hl-value {
    color: #000;
}

.hl-variable {
    color: #000;
}

.hl-comment {
    color: #888888;
}

.hl-blur {
    filter: blur(2px);
}

.hl-strong {
    font-weight: bold;
}

.hl-em {
    font-style: italic;
}

.hl-addition {
    display: inline-block;
    min-width: 100%;
    background-color: #00FF0033;
}

.hl-deletion {
    display: inline-block;
    min-width: 100%;
    background-color: #FF000022;
}
